:root {
    --bucket-width: 165;
    --bucket-aspect-ratio: 1.2;
    /* --bucket-height: 120; */
    --selected-icon-resize: 1;
}

@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    src: local("Lexend"), url(/subpages/lexend.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    background-color: rgb(10, 25, 41);
    color: white;
}

img {
    user-select: none;
}

/* div */ #frame {
    border: 2px solid white;
    height: 600px; /* 775px; /* 450px; */
    width: 1200px; 
    position: relative; 
    /* display:flex;
    flex-direction: column;
    align-items: center; */
    /* justify-content: left; */
}
@media (max-width: 600px) {  /* TODO: Needs to change when bucket resizes */
    #frame {
        width: 100%;
        height: 100%;
        display:flex;
        justify-content: center;
    }
}

/* div#barrel {
    width: 740px;
    height: 300px;
    border: 3px solid red;
    position: relative;
} */

div.barrel {
    border: 3px solid red;
    position: relative;
    margin-top: 5%;
    margin-left: 10%;
    /* align-items: baseline; */

}
@media (max-width: 600px) {
    div.barrel {
        margin: 0;
        /* padding: 0%; */
        border: 3px solid orange;
        width: 94% !important;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        gap: 3%;
        /* transform-origin: top left; */
        /* transform: scale(calc(var(--screen-width) / 600)) */
        /* --screen-width: 500; */
    }
}
@media (max-width: 570px) {
    div.barrel {
        grid-template-columns: repeat(2, 1fr);
    }
}

div.fade {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    /* background-color: rgb(10, 25, 41);  */
    background: linear-gradient(#0a19294D,#0a192900,#0a19294D);
    /* opacity: 0.3; */
}
@media (max-width: 600px) {
    div.fade {
        display: none;
    }
}

div.inner-fade {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    /* background-color: rgb(10, 25, 41);  */
    background: linear-gradient(#0a192900 20%,#0a192999 40%,#0a192999 60%, #0a192900 80%);
    /* opacity: 0.6; */
}
@media (max-width: 600px) {
    div.inner-fade {
        display: none;
    }
}

div.hover-shelf {
    position: absolute;
    pointer-events: none;
    display: flex;
    justify-content: space-between;
    /* justify-content: space-evenly; */
    width: 100%;
    /* border: 2px solid white; */
}

/* div */ .bucket {
    /* position: absolute; */
    position: relative; 
    pointer-events: initial;
    /* height: var(--bucket-height); */
    width: var(--bucket-width);
    /* aspect-ratio: 6 / 5; */
    aspect-ratio: var(--bucket-aspect-ratio);
    /* border: 2px solid white; */
}
@media (max-width: 570px) {
    .bucket {
        width: 90%;
    }
}

img.wall-back {
    position: absolute;
    width: 100%;
    /* width: var(--bucket-width); */
    /* aspect-ratio: 6 / 5; */
    height: 100%;
    /* height: var(--bucket-height); */
    /* pointer-events: */
}
img.wall-front {
    /* --wall-height: calc(0% + var(--bucket-height)); */

    position: absolute;
    bottom: 0px;
    /* width: var(--bucket-width); */
    width: 100%;
    /* height: var(--wall-height); */
    
    /* opacity: 0.5; */
}

.hoverable {
    /* position: absolute; */
    pointer-events: initial;
    /* aspect-ratio: initial; */
    cursor: pointer;
}
.hoverable.hover {
    filter: drop-shadow(5px 0 0 white) 
            drop-shadow(0 5px 0 white)
            drop-shadow(-5px 0 0 white) 
            drop-shadow(0 -5px 0 white)
}

/* img */ .icon {
    position: absolute;
    bottom: 0px;
    /* width: 100px */
    /* rotate: ; */
}

/* img */ .float {
    /* left: 50%; */
    position: initial;
    animation: float 4s ease-in-out infinite
}
@keyframes float {
    0% {
        transform: translateY(5%) scale(var(--selected-icon-resize));
    }
    50% {
        transform: translateY(-5%) scale(var(--selected-icon-resize));
    }
    100% {
        transform: translateY(5%) scale(var(--selected-icon-resize));
    }
    /* 75% {
        transform: translateY(5%);
    } */
}


/* div */ .platform {
    width: 20%;
    height: 100%;
    aspect-ratio: 5/12;
    position: absolute;
    top: 0px;
    z-index: 11;

    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* position:relative */
}
/* img */ .platsprite {
    /* height: 100%; */
    width: 100%;
    /* position: absolute; */
    /* position: absolute; 
    top: 0px;
    height: 100%;
    z-index: 10;
    /* transform-origin: center; */
} 
/* div */ #hover-center {
    /* border: 5px solid yellow; */
    display: flex;
    justify-content: center;
    width: 100%;
}
@media (max-width: 600px) {
    .platform {
        display: none;
        /* height: unset;
        top: 2%;
        right: 0%;
        transform-origin: top left;
        transform: scale(1.5); */
    }
    /* .platsprite { */
        /* border: 3px solid orange; */
        /* display: none;
    } */
}




/* div */ #unravel-holder {
    /* border: 5px solid blue; */
    /* background-color: #232e37; */
    position: absolute;
    width: 48%;
    height: 98%;
    top: 2%;
    right: 5%;
    z-index: 10;
    /* padding: 2%; */
    pointer-events: none;
    overflow: hidden;
}
@media (max-width: 600px) {
    #unravel-holder {
        /* border: 3px solid orange; */
        width: 100%;
        right: 0%;
    }
}

div#unravel {
    /* border: 5px solid greenyellow; */
    background-color: #232e37;
    padding: 2%;
    /* position: relative; */
    height: 100%;
    transform: translateY(-110%);
    /* top: -100%; */
    pointer-events: initial;
    overflow: scroll;
    animation-timing-function: ease-out;
    /* padding:2%; */

    p,h1,span {
        color: lightgray;
    }
    a {
        color: lightskyblue;
    }

    .tool {
        width: 5%;
        vertical-align: bottom;
    }
}

/* .rollup {
    transform: translateY(0%);
    animation: 0.3s rollup ease-in forwards;
    animation-direction:normal
}

.rolldown {
    transform: translateY(100%); */
    /* animation: 1s rolldown ease-out forwards;
    animation-direction:reverse
}

@keyframes rollup {
    100% {
        transform: translateY(-100%)
    }
}

@keyframes rolldown {
    100% {
        transform: translateY(0%)
    }
} */


