
@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    src: local("Lexend"), url(/subpages/lexend.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
ol {
    margin: 0;
    padding: 0
}
        
p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}
h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    margin-block-start: initial;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}
p > span {
    font-size: 15pt;
    font-family: "Lexend";
    font-weight: 400
}
a {
    -webkit-text-decoration-skip: none;
    color: #1155cc;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.space {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt
}
.text {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}
.title-header {
    text-indent: 36pt;
    /* display: inline-block; */
    font-size: 25pt;
    font-family: "Lexend";
    font-weight: 400
}
.title-date {
    /* color: #000000; */
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 18pt;
    font-family: "Lexend";
    font-style: normal;
    white-space: nowrap;
}
.centered {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: center
}
.inline-images {
    overflow: hidden; 
    display: inline-grid; 
    margin: 0.00px 0.00px; 

    &.len2{ grid-template-columns: 1fr 1fr; }
}
.inline-image-content {
    width: 100%; 
    margin-left: 0.00px; 
    margin-top: 0.00px;
}
.title-container {
    padding-top: 10pt;
    text-indent: 36pt;
    padding-bottom: 6pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}
.c8 {
    /* color: #000000; */
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}
.inner-document {
    /* background-color: #ffffff; */
    max-width: 468pt;
    padding: 72pt 72pt 72pt 72pt
}
.small {
    font-size: 10pt;
    font-weight: 400;
    font-family: "Lexend"
}